* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background settings */

.bg {
    min-height: 100vh;
    position: relative;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

/* Navbar section */

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float-right {
    float: right;
}

.nav-menu {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-menu li {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 30px 10px;
    border-radius: 50%;
    background-color: white;
}

.nav-menu a {
    text-decoration: none;
    font-size: 22px;
}

/* Single item section */

.item {
    width: 50vw;
    height: 50vh;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item h2 {
    font-size: 2.8em;
    font-family: 'Yomogi', cursive;
}

.item img {
    width: 80%;
}