* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    height: 100vh;
    position: relative;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float-right {
    float: right;
}

.choices {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.choices li {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: center;
    margin: 30px 10px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}

.choices a {
    text-decoration: none;
    font-size: 18px;
}

.item {
    width: fit-content;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item h2 {
    font-size: 48px;
    font-family: 'Yomogi', cursive;
}