* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    height: 100vh;
    position: relative;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.item {
    width: fit-content;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item h2 {
    font-size: 48px;
    font-family: 'Yomogi', cursive;
}